/* Payment.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff6600;
    text-align: center;
}

.logo {
    width: 80px; /* Adjust the size as needed */
    margin-right: 10px;
}

.section {
    margin-bottom: 20px;
}

.box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.box h2 {
    color: #ff6600;
    margin-top: 0;
}

#money-at-hand,
#total-amount {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.currency {
    color: #ff6600;
}



